section header{
  border-top:1px solid var(--stroke-color);
  padding-block:12px 24px ;
  a{
    justify-self: end;
    align-items: center;
    gap: 8px;

    &:hover span{
     background-image: url(../assets/icons/ArrowHover.svg);
    }
    span{
      background-image: url(../assets/icons/Arrow.svg);
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      
    }
  }
}
#featured{
  grid-area: featured;
  img{
  height: 100%;
  object-fit: cover;
  
  
  }
}

.card{
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  &::before{
    content:"";
    position: absolute;
    inset: 0;
    top:50%;
    background: linear-gradient(
      180deg,
      transparent 0%,
      #020617 100%
    );

  }
  figcaption{
    position: absolute;
    bottom: 0;
    padding:24px;
    &:has(.text-lg){
      padding: 12px;
    }
    h2{
      margin-top:8px;
    }
  }
}

#weakly{
   grid-area: weekly;
  img{
    height: 160px;
  };
  &>div{
    grid-template-columns: repeat(4,292px);
  }
  figure{
    position: relative;
    .content-tag{
      position: absolute;
      top: 8px;
      left: 8px;
    }
    p{
      padding-top: 8px;
      font-weight: 800;
    }
  }
}
#ai{
  grid-area: ai;
  img{
    width: 176px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  h3{
    margin-block: 8px 4px;  
  }
}
aside{
  grid-area: aside;
}

#more{
  margin-top: 32px;
  img{
    width: 72px;
    aspect-ratio: 1/1;
    object-fit: cover;
  } 
  .text-box > h3{
    margin-top: 8px;
  }
}